In [2]:
import pandas as pd
import numpy as np
import vaex

In [13]:
# filter traf by idelem equal to 3564

traf_3564 = traf[traf.idelem == '3564']

In [14]:
traf_3564

#        idelem    fecha_full           intensidad    ocupacion    carga    prec    velmedia    unir
0        3564      2013-01-20 20:30:00  8.0           0.0          1.0      0,7     3,3         2013-01-20 20:30:00 3564
1        3564      2013-01-20 21:00:00  8.0           4.0          5.0      0,7     3,3         2013-01-20 21:00:00 3564
2        3564      2013-01-20 20:00:00  17.0          8.0          10.0     0,7     3,3         2013-01-20 20:00:00 3564
3        3564      2013-01-20 21:30:00  9.0           1.0          2.0      0,7     3,3         2013-01-20 21:30:00 3564
4        3564      2013-01-20 22:00:00  9.0           1.0          1.0      0,7     3,3         2013-01-20 22:00:00 3564
...      ...       ...                  ...           ...          ...      ...     ...         ...
128,975  3564      2022-12-31 20:30:00  23.0          21.0         21.0     0,0     0,8         2022-12-31 20:30:00 3564
128,976  3564      2022-12-31 21:00:00  26.0          5.0          7.0      0,0     0,8         2022-12-31 21:00:00 3564
128,977  3564      2022-12-31 21:30:00  23.0          13.0         14.0     0,0     0,8         2022-12-31 21:30:00 3564
128,978  3564      2022-12-31 22:00:00  30.0          45.0         46.0     0,0     0,8         2022-12-31 22:00:00 3564
128,979  3564      2022-12-31 22:30:00  15.0          1.0          2.0      0,0     0,8         2022-12-31 22:30:00 3564

In [8]:
#convert to pandas

traf_3564 = traf_3564.to_pandas_df()

In [9]:
traf_3564

,idelem,fecha_full,intensidad,ocupacion,carga,prec,velmedia,unir
0,3564,2013-01-20 20:30:00,8.0,0.0,1.0,"0,7","3,3",2013-01-20 20:30:00 3564
1,3564,2013-01-20 21:00:00,8.0,4.0,5.0,"0,7","3,3",2013-01-20 21:00:00 3564
2,3564,2013-01-20 20:00:00,17.0,8.0,10.0,"0,7","3,3",2013-01-20 20:00:00 3564
3,3564,2013-01-20 21:30:00,9.0,1.0,2.0,"0,7","3,3",2013-01-20 21:30:00 3564
4,3564,2013-01-20 22:00:00,9.0,1.0,1.0,"0,7","3,3",2013-01-20 22:00:00 3564
...,...,...,...,...,...,...,...,...
128975,3564,2022-12-31 20:30:00,23.0,21.0,21.0,"0,0","0,8",2022-12-31 20:30:00 3564
128976,3564,2022-12-31 21:00:00,26.0,5.0,7.0,"0,0","0,8",2022-12-31 21:00:00 3564
128977,3564,2022-12-31 21:30:00,23.0,13.0,14.0,"0,0","0,8",2022-12-31 21:30:00 3564
128978,3564,2022-12-31 22:00:00,30.0,45.0,46.0,"0,0","0,8",2022-12-31 22:00:00 3564
128979,3564,2022-12-31 22:30:00,15.0,1.0,2.0,"0,0","0,8",2022-12-31 22:30:00 3564

In [19]:
acci_filtered_vaex = vaex.open('../../acci_filtered_vaex.hdf5')
acci = acci_filtered_vaex.to_pandas_df()
acci['accidente']  = 1
acci = acci[['fecha', 'hora', 'idelem', 'accidente']]
for i in range(len(acci)):
    if len(acci['hora'][i]) == 4:
        acci['hora'][i] = '0' + acci['hora'][i]


acci['unir'] = acci['fecha'] + ' ' + acci['hora'] + ':00' + ' ' + acci['idelem']
acci.drop(['fecha','hora','idelem'], axis = 1, inplace = True)

#group by unir and sum

acci= acci.groupby('unir').sum()

acci

C:\Users\calba\AppData\Local\Temp\ipykernel_2724\3738726281.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acci['hora'][i] = '0' + acci['hora'][i]

                          accidente
unir
2013-01-01 00:00:00 4579          1
2013-01-01 00:00:00 4608          1
2013-01-01 02:30:00 3974          1
2013-01-01 04:00:00 3619          1
2013-01-01 07:30:00 9949          1
...                             ...
2022-12-31 21:00:00 6445          1
2022-12-31 21:00:00 6757          1
2022-12-31 22:00:00 4182          1
2022-12-31 23:00:00 4254          1
2022-12-31 23:30:00 7130          1

[109481 rows x 1 columns]

In [21]:
#get unir as a column

acci.reset_index(inplace = True)

In [22]:
acci

                            unir  accidente
0       2013-01-01 00:00:00 4579          1
1       2013-01-01 00:00:00 4608          1
2       2013-01-01 02:30:00 3974          1
3       2013-01-01 04:00:00 3619          1
4       2013-01-01 07:30:00 9949          1
...                          ...        ...
109476  2022-12-31 21:00:00 6445          1
109477  2022-12-31 21:00:00 6757          1
109478  2022-12-31 22:00:00 4182          1
109479  2022-12-31 23:00:00 4254          1
109480  2022-12-31 23:30:00 7130          1

[109481 rows x 2 columns]

In [23]:
#save as csv

acci.to_csv('biblio_acci.csv', index = False)

In [10]:
#drop column unir and idelem

#traf_3564.drop(['unir', 'idelem'], axis=1, inplace=True)