In [1]:
import pandas as pd
import numpy as np

In [2]:
#read accidentalidad

acci = pd.read_csv('Mad-Traffic/data/accidentalidad.csv')

acci

,fecha,station,tmed,prec,velmedia,hora,distrito,localizacion,id,coordenada_x_utm,coordenada_y_utm,lesividad,meteo,latitud,longitud
0,2013-01-01,3129,"5,6","0,0","1,4",19:00,SAN BLAS,GLORIETA DE ARCENTALES - AUTOVIA M-40,6404.0,448272.810572,4.476161e+06,HL,Normal,40.434484,-3.609872
1,2013-01-01,3194U,"5,6","0,4","0,3",00:00,FUENCARRAL-EL PARDO,"AUTOVIA M-30 CALZADA 1 KM., 31400",4608.0,442092.763289,4.481385e+06,HL,Lloviendo,40.481134,-3.683207
2,2013-01-01,3194U,"5,6","0,4","0,3",00:00,TETUAN,AVENIDA DE ASTURIAS - CALLE DEL CAÑAVERAL,4579.0,441163.603568,4.479990e+06,HL,Lloviendo,40.468500,-3.694040
3,2013-01-01,3194U,"5,6","0,4","0,3",13:00,MONCLOA-ARAVACA,"AVENIDA DEL DOCTOR FEDERICO RUBIO Y GALI, 65",4516.0,439401.879502,4.478458e+06,HL,Normal,40.454575,-3.714673
4,2013-01-01,3194U,"5,6","0,4","0,3",17:00,TETUAN,"CALLE DE LOPE DE HARO, 8",5632.0,440446.435648,4.478757e+06,HL,Normal,40.457344,-3.702383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122134,2022-12-31,3195,"8,9","0,0","0,8",5:00,SAN BLAS-CANILLEJAS,"CALLE TAMPICO, 16",10554.0,446310.000000,4.476975e+06,NO ASIGNADA,Normal,40.440179,-3.632464
122135,2022-12-31,3195,"8,9","0,0","0,8",6:00,PUENTE DE VALLECAS,"AVDA. ALBUFERA, 246",6947.0,445162.000000,4.471242e+06,HL,Normal,40.389891,-3.645091
122136,2022-12-31,3195,"8,9","0,0","0,8",6:00,SALAMANCA,"C/ JOSE ORTEGA Y GASSET, 40-42",4006.0,442441.000000,4.475706e+06,NO ASIGNADA,Normal,40.429990,-3.677839
122137,2022-12-31,3195,"8,9","0,0","0,8",6:30,VILLA DE VALLECAS,"CALLE ENRIQUE GARCIA ALVAREZ, 11",10785.0,447813.000000,4.470373e+06,NO ASIGNADA,Normal,40.382550,-3.610817
122138,2022-12-31,3195,"8,9","0,0","0,8",8:30,MORATALAZ,"CMNO. ANTIGUO VIEJO DE VICALVARO, FAROLA 172",6212.0,447542.000000,4.472949e+06,MT,Normal,40.405273,-3.616231

In [3]:
#read geo_live

geo_live = pd.read_csv('Mad-Traffic/data/geo_live.csv')

geo_live

      idelem   utm_x    utm_y  longitud    latitud  idema
0       3840  441615  4475768 -3.688323  40.430502   3195
1       3841  441706  4475770 -3.687256  40.430524   3195
2       3842  441319  4474841 -3.691727  40.422132   3195
3       3843  441302  4474764 -3.691929  40.421433   3195
4       3844  441606  4476132 -3.688470  40.433782   3195
...      ...     ...      ...       ...        ...    ...
4685    6809  444065  4481586 -3.659954  40.483080  3194U
4686    6810  444068  4481594 -3.659926  40.483158  3194U
4687    6933  443003  4481709 -3.672497  40.484118  3194U
4688    7129  443003  4481716 -3.672500  40.484181  3194U
4689    7015  443020  4481807 -3.672308  40.485002  3194U

[4690 rows x 6 columns]

In [4]:
#read TRAF with vaex

import vaex

traf = vaex.open('TRAFICO/traf.hdf5')

traf

#            idelem    fecha                intensidad    ocupacion    carga
0            3564      2013-01-20 20:30:00  8.0           0.0          1.0
1            3882      2013-01-20 20:30:00  1164.0        4.0          22.0
2            3883      2013-01-20 20:30:00  1143.0        4.0          22.0
3            3884      2013-01-20 20:30:00  958.0         3.0          18.0
4            3885      2013-01-20 20:30:00  1028.0        4.0          20.0
...          ...       ...                  ...           ...          ...
563,682,229  11058     2022-12-31 21:30:00  259.0         0.0          8.0
563,682,230  11058     2022-12-31 22:00:00  125.0         0.0          3.0
563,682,231  11058     2022-12-31 22:30:00  68.0          0.0          1.0
563,682,232  11058     2022-12-31 23:00:00  66.0          0.0          1.0
563,682,233  11058     2022-12-31 23:30:00  42.0          0.0          0.0

In [5]:
#filter accis by id equal to diff

acci = acci[['fecha', 'hora', 'id']]
acci['accidente'] = 1

acci['id'] = acci['id'].astype('string')

#get rid of the last 2 characters from id

acci['id'] = acci['id'].str.slice(0, -2)

#add 0 to the left of hora if length is 4

for i in range(len(acci)):
    if len(acci['hora'][i]) == 4:
        acci['hora'][i] = '0' + acci['hora'][i]

#acci to vaex

acci_vaex = vaex.from_pandas(acci)

acci_vaex['unir'] = acci_vaex['fecha'] + ' ' + acci_vaex['hora'] + ':00' + ' ' + acci_vaex['id']
acci_vaex = acci_vaex.drop(['fecha','hora','id'])

#group by unir and sum

acci_vaex = acci_vaex.groupby('unir', agg={'accidente':'sum'})

acci_vaex

C:\Users\calba\AppData\Local\Temp\ipykernel_26568\2556654930.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acci['accidente'] = 1
C:\Users\calba\AppData\Local\Temp\ipykernel_26568\2556654930.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acci['id'] = acci['id'].astype('string')
C:\Users\calba\AppData\Local\Temp\ipykernel_26568\2556654930.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acci['id'] = acci['id'].str.slice(0, -2)
C:\Users\calba\AppData\Local\Temp\ipykernel_26568\2556654930.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acci['hora'][i] = '0' + acci['hora'][i]

#        unir                       accidente
0        2013-01-02 12:00:00 6928   1
1        2013-01-04 14:00:00 10002  1
2        2013-01-08 10:00:00 4452   1
3        2013-01-10 20:00:00 9864   1
4        2013-01-10 08:00:00 4032   1
...      ...                        ...
118,511  2021-12-23 17:30:00 6747   1
118,512  2021-12-23 22:30:00 5827   1
118,513  2021-12-24 10:00:00 3695   1
118,514  2021-12-25 10:00:00 4080   1
118,515  2021-12-27 15:00:00 6216   1

In [6]:
#make unir in traf from fecha_full and idelem

traf['unir'] = traf['fecha'] + ' ' + traf['idelem'].astype('string')

traf

#            idelem    fecha                intensidad    ocupacion    carga    unir
0            3564      2013-01-20 20:30:00  8.0           0.0          1.0      2013-01-20 20:30:00 3564
1            3882      2013-01-20 20:30:00  1164.0        4.0          22.0     2013-01-20 20:30:00 3882
2            3883      2013-01-20 20:30:00  1143.0        4.0          22.0     2013-01-20 20:30:00 3883
3            3884      2013-01-20 20:30:00  958.0         3.0          18.0     2013-01-20 20:30:00 3884
4            3885      2013-01-20 20:30:00  1028.0        4.0          20.0     2013-01-20 20:30:00 3885
...          ...       ...                  ...           ...          ...      ...
563,682,229  11058     2022-12-31 21:30:00  259.0         0.0          8.0      2022-12-31 21:30:00 11058
563,682,230  11058     2022-12-31 22:00:00  125.0         0.0          3.0      2022-12-31 22:00:00 11058
563,682,231  11058     2022-12-31 22:30:00  68.0          0.0          1.0      2022-12-31 22:30:00 11058
563,682,232  11058     2022-12-31 23:00:00  66.0          0.0          1.0      2022-12-31 23:00:00 11058
563,682,233  11058     2022-12-31 23:30:00  42.0          0.0          0.0      2022-12-31 23:30:00 11058

In [7]:
#difference between acci and traf in unir

acci_unir = acci_vaex['unir'].values

traf_unir = traf['unir'].values

In [ ]:
diff = np.setdiff1d(acci_unir, traf_unir)